{
  "tripline": [
  37,
  50,
  28,
  180,
  28,
  50,
  37,
  180
      ],
  "expected_person_area":910.0,
  "unwarp": {
     "distortF" : 0.490,
     "rectF" : 0.420,
     "resolutionFactor" : 1.0,
     "roiH" : 0.4027777910232544,
     "roiW" : 0.08752327412366867,
     "roiX" : 0.4364636843204498,
     "roiY" : 0.3263888955116272,
     "rotation" : 125.0,
     "useBilinear" : false,
     "xcenteroffset" : 0.0,
     "ycenteroffset" : 0.0
  },
  "view_id": 0,
  "min_person_area": 10.0,
  "bg_shadow_ftau": 0.5
}
