{
  "tripline": [
        66,
        2,
        66,
        91,
        74,
        2,
        74,
        91
      ],
  "expected_person_area":910.0,
  "unwarp": {
     "distortF" : 0.490,
     "rectF" : 0.420,
        "roiH": 0.238,
        "roiW": 0.11,
        "roiX": 0.374,
        "roiY": 0.318,
        "rotation": 125.0,
     "resolutionFactor" : 1.0,
     "useBilinear" : false,
     "xcenteroffset" : 0.0,
     "ycenteroffset" : 0.0
  },
  "view_id": 0,
  "min_person_area": 10.0,
  "bg_shadow_ftau": 0.5
}
