{
  "tripline": [
  68,
  0,
  68,
  96,
  77,
  0,
  77,
  96
      ],
  "expected_person_area": 10.0,
  "unwarp": {
    "useBilinear": "false",
    "roiH": 0.402,
    "resolutionFactor": 1.0,
    "rectF": 0.42,
    "ycenteroffset": 0.0,
    "distortF": 0.49,
    "xcenteroffset": 0.0,
    "roiX": 0.223,
    "roiY": 0.326,
    "rotation": 125,
    "roiW": 0.087
  },
  "view_id": 0,
  "min_person_area": 10.0,
  "bg_shadow_ftau": 0.5
}
